@model Post

@{
    ViewBag.Title = "Удаление";
    Layout = "_Layout";
}
<div class="container">
    <h2>Вы уверены что хотите удалить @Model.Title</h2>
    <form asp-action="Delete" asp-controller="SourceManage" asp-area="Admin" method="post" asp-route-id="@Model.Id">
        <button type="submit">подтвердить</button>
    </form>
    <a asp-action="Index" asp-controller="SourceManage">Отменить</a>
</div>