@model Step

@{
    ViewBag.Title = "Новый шаг";
    Layout = "_Layout";
}


<div class="page page-ui-portlets">
    <div class="pageheader">

        <h2>@ViewBag.Title</h2>

        <div class="page-bar">

            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="StepsManage"> Шаги</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="StepsManage"> Добавить</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="tile-body">
        <form class="create-form" asp-action="Create" asp-controller="StepsManage" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly"></div>
            @{ await Html.RenderPartialAsync("PartialViews/StepCreateEditPartial", Model); }
        </form>
    </div>
    
</div>

@section Scripts
{
    <script>
        CKEDITOR.replace('stepDescription');
    </script>
}
