@model Step


<div class="row">
    <div class="portlets sortable">
        <section class="tile portlet">

            <!-- tile body -->
            <div class="tile-body">
                <div >
                    <label>Название:</label>
                    <br/><span class="validationError" asp-validation-for="Name"></span>
                    <input class="form-control" type="text" asp-for="Name" value="@Model.Name">
                </div>
                <div>
                    <label>Описание:</label>
                    <textarea name="stepDescription" type="text" asp-for="StepDescription" value="@Model.StepDescription">@Model.StepDescription</textarea>
                </div>
            </div>

            
            <!-- /tile body -->
        </section>
    </div>
    @if (Model.Id == 0)
    {
        <button style="width: 49.5%" type="submit" name="choice" value="2" class="btn btn-info">Сохранить и перейти к добавлению ЖР</button>
        <button style="width: 50%" type="submit" name="choice" value="1" class="btn btn-info">Сохранить и выйти</button>
    }
    else
    {
        <button style="width: 49.5%" type="submit" name="choice" value="1" class="btn btn-info">Сохранить изменения и выйти</button>
        <button style="width: 50%" type="submit" name="choice" value="2" class="btn btn-info">Сохранить и перейти к изменению ЖР</button>
    }
</div>

                

<div style="text-align: center">
    <span class="validationError">@Html.ValidationMessage("CustomError")</span>
</div>
