@model Source

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@if (Model.VirtualPath.Contains(".pdf"))
{
    <div>
        <a class="btn btn-info" asp-action="Details" asp-controller="BooksManage" asp-route-id="@Model.Id">Вернуться назад</a>
    </div>
    <iframe width="100%" height="1000" allowfullscreen src="~/@Model.VirtualPath"></iframe>
}
else
{
    <div>
        <a class="btn btn-info" href="~/@Model.VirtualPath">Скачать</a>
        <a class="btn btn-info" asp-action="Details" asp-controller="BooksManage" asp-route-id="@Model.Id">Вернуться назад</a>
    </div>
    <iframe width="100%" height="1000" src="https://docs.google.com/gview?url=@ViewBag.Path&embedded=true"></iframe>
}
 