@model BusinessProcess

@{
    ViewBag.Title = "Удаление бизнес-процесса";
    Layout = "_Layout";
}

<div class="page page-tables-datatables">

    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="BusinessProcessManage">Бизнес-процессы</a>
                </li>
                <li>
                    <a asp-action="Delete" asp-controller="BusinessProcessManage" asp-route-id="@Model.Id">Удаление бизнес-процесса</a>
                </li>
            </ul>
        </div>
    </div>

    <h2>Вы уверены что хотите удалить бизнес-процесс - @Model.Name</h2>
    <div>
        <div style="display: inline-block">
            <form asp-action="Delete" asp-controller="BusinessProcessManage" asp-area="Admin" method="post" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Подтвердить</button>
            </form>
        </div>
        <div style="display: inline-block">
            <a class="btn btn-info" asp-action="Index" asp-controller="BusinessProcessManage" asp-area="Admin">Отменить</a>
        </div>
    </div>

</div>
