@model BusinessProcess

@{
    ViewBag.Title = "Редактирование бизнес-процесса";
    Layout = "_Layout";
}

<div class="page page-ui-portlets">
    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a asp-action="Details" asp-controller="Account" asp-area=""><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="BusinessProcessManage"> Бизнес-процессы</a>
                </li>
                <li>
                    <a asp-action="Edit" asp-controller="BusinessProcessManage" asp-route-id="@Model.Id"> Редактирование бизнес-процесса</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="tile-body">
            <form class="create-form" asp-action="Edit" asp-controller="BusinessProcessManage" asp-area="Admin" method="post" enctype="multipart/form-data">
                <div asp-validation-summary="ModelOnly"></div>
                @{ Html.RenderPartial("PartialViews/BusinessProcessCreateEditPartial", Model); }
                <div class="text-center" style="width: 100%">
                    <button type="submit" name="choice" value="1" class="btn btn-info" style="width: 49%">Сохранить и выйти из редактирования</button>
                    <button type="submit" name="choice" value="2" class="btn btn-info" style="width: 49%">Сохранить и перейти к изменению задач</button>
                </div>

            </form>
        </div>

    </div>
</div>

@section Scripts
{
    <script>
        CKEDITOR.replace('Description');
    </script>
}
