@model BookCreateViewModel

@{
    ViewBag.Title = "Добавление книги";
    Layout = "_Layout";
}

<div class="container">
    <div class="pageheader">
        <h2>@ViewBag.Title</h2>
        <div class="page-bar">
            <ul class="page-breadcrumb">
                <li>
                    <a href="index.html"><i class="fa fa-home"></i> Guide</a>
                </li>
                <li>
                    <a asp-action="Index" asp-controller="Books">Книги</a>
                </li>
                <li>
                    <a asp-action="Create" asp-controller="Books">Добавить</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="card" style="margin:auto;">
        <div class="card-header text-center">
            Новая книга
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="Books" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                @{ Html.RenderPartial("PartialViews/FormPartial", Model); }
                <button type="submit" class="btn btn-info" style="margin:  20px 0 0 270px; width: 500px;">Создать</button>
                <input type="hidden" value="@Model.Id" id="postId" asp-for="Id">
            </form>
        </div>
    </div>
</div>

@section Scripts{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
