@model List<Book>

@{
    ViewBag.Title = "Список книг";
    Layout = "_Layout";
}
<div class="container">
    <div class="book-wrap">
        <div class="pageheader">
            <h2>@ViewBag.Title</h2>
            <div class="page-bar">
                <ul class="page-breadcrumb">
                    <li>
                        <a href="index.html"><i class="fa fa-home"></i> Guide</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Books">Книги</a>
                    </li>
                    <li>
                        <a asp-action="Index" asp-controller="Books">Список</a>
                    </li>
                </ul>
            </div>
        </div>
        
        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Create">Добавить книгу</a>
        <div class="row-books row">
            @foreach (var book in @Model)
            {
                <a class=" col-4" asp-action="Details" asp-controller="Books" asp-route-id="@book.Id">
                    <div class="book-card">
                        <img src="../@book.CoverPath" style="width:260px; height: 300px; border-radius: 1rem; margin: 0;">
                        <p style=" margin: 5px 0 0; font-size: 20px;">@book.Name</p>
                    </div>
                </a>
            }
        </div>

    </div>
</div>
