@model QuestionAnswer

<div class="question-form m-auto">
    <h3>Не нашли Вашу Ситуацию? Задайте вопрос в форме ниже</h3>
    <form asp-action="Create" asp-controller="QuestionAnswers" asp-area="">
        <input id="questionInput" class="form-control" type="text" placeholder="Введите свой вопрос">
        <button id="questionButton" type="submit" class="btn btn-sm text-white mt-10" style="background: #138a72">Отправить вопрос</button>
    </form>
</div>
