@model QuestionAnswersViewModel

<div style="text-align: center">
</div>
<div>
    <label>Ситуация<span class="text-danger">*</span></label>
    <input class="form-control" type="text" asp-for="QuestionAnswer.Question" value="@Model.QuestionAnswer.Question">
    <br/><span class="validationError" asp-validation-for="QuestionAnswer.Question"></span>
</div>
@if (Model.Status != QuestionAnswersStatus.ToQuestion)
{
    <div>
        <label>Решение ситуации</label>
        <textarea name="ckeditor"  type="text" asp-for="QuestionAnswer.Answer" value="@Model.QuestionAnswer.Answer"></textarea>
    </div>
}
