@model Book

@{
    ViewBag.Title = "title";
    Layout = "_LayoutEmployee";
}

@if (Model.VirtualPath.Contains(".pdf"))
{
    <div>
        <a class="btn btn-info" asp-action="Details" asp-controller="Source" asp-route-id="@Model.Id">Вернуться назад</a>
    </div>
    <iframe width="100%" height="1000" allowfullscreen src="@Model.VirtualPath"></iframe>
}
else
{
    <div>
        <a class="btn btn-info" href="@Model.VirtualPath">Скачать</a>
        <a class="btn btn-info" asp-action="Details" asp-controller="Source" asp-route-id="@Model.Id">Вернуться назад</a>
    </div>
    <iframe width="100%" height="1000" allowfullscreen src="https://docs.google.com/gview?url=@ViewBag.BookPath&embedded=true"></iframe>
}
