.glossary-create-button,
.glossary-cancel-button{
    width: 30%;
    position: absolute;
    left: 68%;
}
.glossary-create-button{
    bottom: 40%;
}
.glossary-cancel-button{
    bottom: 30%;
}
.create-form{
    padding: 0 15px;
}
.register-form-footer{
    background: #493d55;
}
.select-filter{
    display: inline-block;
    width: 20%;
}
.my-form{
    padding: 0 12px;
    height: 27px;
}