.glossary-update-button,
.glossary-cancel-button{
    display: inline-block;
    width: 15rem;
}
.glossary-create-button{
    width: 100%;
}
.create-form{
    padding: 0 15px;
}
.register-form-footer{
    background: #493d55;
}
.select-filter{
    display: inline-block;
    width: 20%;
}
.my-form{
    padding: 0 12px;
    height: 27px;
}
.fa-trash{
    color: red;
}
.btn_commit_del{
    float: right;
}
.material_content{
    min-height: 20em;
}
.profile_page_image_wrap{
    width: 100%;
    height: 450px;
}
.profile_page_image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.question-form{
    width: 50%;
}
.tascUsersDescription{
    padding: 30px;
    min-height: 500px;
}
.tascUsersDescription_tatl{
    padding-bottom: 30px;
}
.steps
.issues{
    overflow: scroll; /* Добавляем полосы прокрутки */
    margin-top: 10px;
    height: 50vh; /* Высота блока */
    padding: 5px; /* Поля вокруг текста */
    border: solid 1px #aaaaaa; /* Параметры рамки */
}
.list{
    border: 1px dashed #aaaaaa;
    background: #f3f3f3;
    min-height: 80vh;
}
.trashbin{
    position: absolute;
    height: 55px;
    width: 92%;
    top: 0;
}

