.glossary-create-button{
    width: 30%;
    position: absolute;
    bottom: 40%;
    left: 68%;
}
.create-form{
    padding: 0 15px;
}
.register-form-footer{
    background: #493d55;
}
.select-filter{
    display: inline-block;
    width: 20%;
}
.my-form{
    padding: 0 12px;
    height: 27px;
}
.fa-trash{
    color: red;
}
.btn_commit_del{
    float: right;
}
.materiol_content{
    min-height: 20em;
}