@model Glossary

@{
    ViewBag.Title = "Удаление";
    Layout = "_Layout";
}

<div class="page">
    <h2>Вы уверены что хотите удалить :</h2>
    <p>" @Model.Name "</p>
    <div>
        <div style="display: inline-block">
            <form asp-action="Delete" asp-controller="GlossarysManage" asp-area="Admin" method="post" asp-route-id="@Model.Id">
                <button class="btn btn-danger" type="submit">Подтвердить</button>
            </form>
        </div>
        <div style="display: inline-block">
            <a class="btn btn-info" asp-action="Index" asp-controller="GlossarysManage" asp-area="Admin">Отменить</a>
        </div>
    </div>
</div>