@model Glossary

@{
    ViewBag.Title = "Редактировать описание термина";
    Layout = "_Layout";
}
<div class="page">
    <div class="card" style="width:800px;margin:auto;">
        <div class="card-header text-center">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <form asp-action="Edit" asp-controller="GlossarysManage" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                @{ Html.RenderPartial("PartialViews/Glossary", Model); }
                <input type="hidden" value="@Model.Id" asp-for="Id">
                <button type="submit" class="btn btn-info" style="margin:  20px 0 0;" >Сохранить</button>
                <a asp-action="Index" asp-controller="Glossarys" class="btn btn-info" style="margin:  20px 0 0;" >Отменить</a>
            </form>
        </div>
    </div>
</div>

@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}