@model Glossary


<div style="text-align: center">
</div>
<div>
    <label>Нозвание<span class="text-danger">*</span></label>
    <input class="form-control" type="text" asp-for="Name" value="@Model.Name">
    <br/><span class="validationError" asp-validation-for="Name"></span>
</div>
<div>
    <label>Описание<span class="text-danger">*</span></label>
    <textarea class="form-control" type="text" asp-for="Description" value="@Model.Description"></textarea>
    <br/><span class="validationError" asp-validation-for="Description"></span>
</div>




