<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang=""> <!--<![endif]-->
    <head>
     <meta charset="utf-8" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">    
          
     <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
     <title>Guide</title>
     <link rel="icon" type="image/ico" href="~/favicon.ico" />
     <meta name="description" content="">
       
 
        <!-- ============================================
        ================= Stylesheets ===================
        ============================================= -->
        <!-- vendor css files -->
        <link rel="stylesheet" href="~/assets/css/vendor/bootstrap.min.css">
        
        <link rel="stylesheet" href="assets/css/vendor/animate.css">
        <link rel="stylesheet" href="assets/css/vendor/font-awesome.min.css">
        <link rel="stylesheet" href="assets/js/vendor/animsition/css/animsition.min.css">
        <link rel="stylesheet" href="~/css/style.css">
     
                
      

        <!-- project main css files -->
        <link rel="stylesheet" href="~/assets/css/main.css">
        <!--/ stylesheets -->



   
    </head>
    <body id="minovate" class="appWrapper">
    
    <script src="https://kit.fontawesome.com/26a6781c15.js" crossorigin="anonymous"></script>
    
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
        <!-- ====================================================
        ================= Application Content ===================
        ===================================================== -->
        <div id="wrap" class="animsition">
        @if (User.Identity.IsAuthenticated)
        {
            <!-- ===============================================
            ================= HEADER Content ===================
            ================================================ -->
            <section id="header">
                <header class="clearfix">

                    <!-- Branding -->
                    <div class="branding">
                        @if (User.Identity.IsAuthenticated)
                          {
                            <a class="brand" asp-controller="Account" asp-action="Details" asp-route-id="" asp-area=""><span><strong>Guide</strong></span></a>
                            <a href="#" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
                          }
                         else
                          {
                            <a class="brand" asp-controller="Account" asp-action="Login" asp-area=""><span><strong>Guide</strong></span></a>
                              <a href="#" class="offcanvas-toggle visible-xs-inline"><i class="fa fa-bars"></i></a>
                          }
                    </div>
                    <!-- Branding end -->
                <!-- Left-side navigation -->
                    <ul class="nav-left pull-left list-unstyled list-inline">
                        <li class="sidebar-collapse divided-right">
                            <a href="#" class="collapse-sidebar">
                                <i class="fa fa-outdent"></i>
                            </a>
                        </li>
                        <li class="dropdown divided-right settings">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="fa fa-cog"></i>
                            </a>
                            <ul class="dropdown-menu with-arrow animated littleFadeInUp" role="menu">
                                <li>
                                    <ul class="color-schemes list-inline">
                                        <li class="title">Header Color:</li>
                                        <li><a href="#" class="scheme-drank header-scheme" data-scheme="scheme-default"></a></li>
                                        <li><a href="#" class="scheme-black header-scheme" data-scheme="scheme-black"></a></li>
                                        <li><a href="#" class="scheme-greensea header-scheme" data-scheme="scheme-greensea"></a></li>
                                        <li><a href="#" class="scheme-cyan header-scheme" data-scheme="scheme-cyan"></a></li>
                                        <li><a href="#" class="scheme-lightred header-scheme" data-scheme="scheme-lightred"></a></li>
                                        <li><a href="#" class="scheme-light header-scheme" data-scheme="scheme-light"></a></li>
                                        <li class="title">Branding Color:</li>
                                        <li><a href="#" class="scheme-drank branding-scheme" data-scheme="scheme-default"></a></li>
                                        <li><a href="#" class="scheme-black branding-scheme" data-scheme="scheme-black"></a></li>
                                        <li><a href="#" class="scheme-greensea branding-scheme" data-scheme="scheme-greensea"></a></li>
                                        <li><a href="#" class="scheme-cyan branding-scheme" data-scheme="scheme-cyan"></a></li>
                                        <li><a href="#" class="scheme-lightred branding-scheme" data-scheme="scheme-lightred"></a></li>
                                        <li><a href="#" class="scheme-light branding-scheme" data-scheme="scheme-light"></a></li>
                                        <li class="title">Sidebar Color:</li>
                                        <li><a href="#" class="scheme-drank sidebar-scheme" data-scheme="scheme-default"></a></li>
                                        <li><a href="#" class="scheme-black sidebar-scheme" data-scheme="scheme-black"></a></li>
                                        <li><a href="#" class="scheme-greensea sidebar-scheme" data-scheme="scheme-greensea"></a></li>
                                        <li><a href="#" class="scheme-cyan sidebar-scheme" data-scheme="scheme-cyan"></a></li>
                                        <li><a href="#" class="scheme-lightred sidebar-scheme" data-scheme="scheme-lightred"></a></li>
                                        <li><a href="#" class="scheme-light sidebar-scheme" data-scheme="scheme-light"></a></li>
                                        <li class="title">Active Color:</li>
                                        <li><a href="#" class="scheme-drank color-scheme" data-scheme="drank-scheme-color"></a></li>
                                        <li><a href="#" class="scheme-black color-scheme" data-scheme="black-scheme-color"></a></li>
                                        <li><a href="#" class="scheme-greensea color-scheme" data-scheme="greensea-scheme-color"></a></li>
                                        <li><a href="#" class="scheme-cyan color-scheme" data-scheme="cyan-scheme-color"></a></li>
                                        <li><a href="#" class="scheme-lightred color-scheme" data-scheme="lightred-scheme-color"></a></li>
                                        <li><a href="#" class="scheme-light color-scheme" data-scheme="light-scheme-color"></a></li>
                                    </ul>
                                </li>
                                <li>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-xs-8 control-label">Fixed header</label>
                                            <div class="col-xs-4 control-label">
                                                <div class="onoffswitch lightred small">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-header" checked="">
                                                    <label class="onoffswitch-label" for="fixed-header">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>

                                <li>
                                    <div class="form-group">
                                        <div class="row">
                                            <label class="col-xs-8 control-label">Fixed aside</label>
                                            <div class="col-xs-4 control-label">
                                                <div class="onoffswitch lightred small">
                                                    <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="fixed-aside" checked="">
                                                    <label class="onoffswitch-label" for="fixed-aside">
                                                        <span class="onoffswitch-inner"></span>
                                                        <span class="onoffswitch-switch"></span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                    <!-- Left-side navigation end -->
                   <!-- Right-side navigation -->
                    <ul class="nav-right pull-right list-inline mr-40">
                      @if (User.Identity.IsAuthenticated)
                      {
                        <li class="dropdown nav-profile mr-40">
                            <a class="dropdown-toggle" data-toggle="dropdown" asp-action="Details" asp-controller="Account" asp-area="">
                                <span>
                                    @User.Identity.Name<i class="fa fa-angle-down"></i>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated littleFadeInLeft" role="menu">
                                <li>
                                     <a asp-controller="Account" asp-action="Details" asp-route-id="" asp-area="">
                                         <i class="fa fa-user"></i>
                                         Личный кабинет
                                     </a>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a id="exitButton" asp-controller="Account" asp-action="Logout" asp-area="">
                                        <i class="fa fa-sign-out"></i>
                                        Выход
                                    </a>
                                </li>
                             </ul>
                         </li>
                      }
                    </ul>
                    <!-- Right-side navigation end -->
                </header>
            </section>
            <!--/ HEADER Content  -->
            <!-- =================================================
            ================= CONTROLS Content ===================
            ================================================== -->
            <div id="controls">
                <!-- ================================================
                ================= SIDEBAR Content ===================
                ================================================= -->
                <aside id="sidebar">
                    <div id="sidebar-wrap">
                        <div class="panel-group slim-scroll" role="tablist">
                            <div class="panel panel-default">
                                    <div class="panel-body">
                                        <!-- ===================================================
                                    ================= NAVIGATION Content ===================
                                    ==================================================== -->
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <ul id="navigation">
                                            <li>
                                                <a asp-controller="MaterialManage" asp-action="Index" asp-area="Admin"><i class="fa fa-tasks"></i>Библиотека</a>
                                            </li>
                                            <li>
                                                <a asp-controller="BusinessProcessManage" asp-action="Index" asp-area="Admin"><i class="fa fa-tasks"></i>Бизнес-процессы</a>
                                            </li>
                                            <li>
                                                <a asp-controller="IssuesManage" asp-action="Index" asp-area="Admin"><i class="fa fa-tasks"></i>Задачи</a>
                                            </li>
                                            <li>
                                                <a asp-controller="StepsManage" asp-action="Index" asp-area="Admin"><i class="fa fa-tasks"></i>Шаги</a>
                                            </li>
                                            <li>
                                                <a asp-controller="DesiredResult" asp-action="Index" asp-area="Admin"><i class="fa fa-tasks"></i>Желаемые результаты</a>
                                            </li>
<li>
                                                <a asp-controller="" asp-action="AddForPosition" asp-area="Admin"><i class="fa fa-tasks"></i>Задачи к должности</a>
                                            </li>
                                            <li>
                                                 <a>
                                                  <i class="fa fa-puzzle-piece"></i>
                                                  <span>Глоссарий</span></a>
                                                <ul>
                                                     <li><a target="_blank" asp-controller="GlossarysManage" asp-action="Index" asp-area="Admin"><i class="fa fa-caret-right"></i>Список</a></li>
                                                     <li><a asp-controller="GlossarysManage" asp-action="Create" asp-area="Admin"><i class="fa fa-caret-right"></i>Добавить</a></li>
                                                </ul>
                                            </li>
                                            <li>                             
                                                 <a asp-controller="UsersManage" asp-action="ListUsers" asp-area="Admin"><i class="fa fa-users"></i>Список Сотрудников</a></li>
                                                  
                                            <li>
                                                 <a asp-controller="FaqManage" asp-action="Index">
                                                  <i class="fa fa-question"></i>
                                                   <span>Ситуационная база</span></a>
                                                <ul>
                                                    <li><a asp-action="Index" asp-controller="FaqManage" asp-area="Admin"><i class="fa fa-caret-right"></i>Беспроблемные ситуации</a></li>
                                                    <li><a asp-action="IndexQuestions" asp-controller="FaqManage" asp-area="Admin"><i class="fa fa-caret-right"></i>Проблемные ситуации</a></li>
                                                     <li><a asp-action="Create" asp-controller="FaqManage" asp-area="Admin" asp-route-status="Create"><i class="fa fa-caret-right"></i>Добавить</a></li>
                                                     </ul>
                                            </li>
                                        </ul>
                                    }
                                        <!--/ NAVIGATION Content -->
                                    </div>
                                </div>
                            </div>
                        </div>
                </aside>
                <!--/ SIDEBAR Content -->
                </div>
            <!--/ CONTROLS Content -->
        <!-- ====================================================
        ================= CONTENT ===============================
        ===================================================== -->
     <!--/  это рендерит отлично страницу : id="content"-->
            <section id="content">
                <div class=" pt-5">
                    @RenderBody()
                </div>
            </section>
        }
        else
        {
            <div class=" pt-5">
                @RenderBody()
            </div>
        }
        <!--/ CONTENT -->
        </div>
    <!--/ Application Content -->
    

    <script src="~/js/site.js" asp-append-version="true"></script>
    
        <!-- ============================================
        ============== Vendor JavaScripts ===============
        ============================================= -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="~/assets/js/vendor/jquery/jquery-1.11.2.min.js"><\/script>')</script>

        <script src="~/assets/js/vendor/bootstrap/bootstrap.min.js"></script>

        <script src="~/assets/js/vendor/jRespond/jRespond.min.js"></script>

    <script src="~/assets/js/vendor/sparkline/jquery.sparkline.min.js"></script>

    <script src="~/assets/js/vendor/animsition/js/jquery.animsition.min.js"></script>

    <script src="~/assets/js/vendor/screenfull/screenfull.min.js"></script>

    <script src="~/assets/js/vendor/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/assets/js/vendor/datatables/extensions/ColReorder/js/dataTables.colReorder.min.js"></script>
    <script src="~/assets/js/vendor/datatables/extensions/Responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/assets/js/vendor/datatables/extensions/ColVis/js/dataTables.colVis.min.js"></script>
    <script src="~/assets/js/vendor/datatables/extensions/TableTools/js/dataTables.tableTools.min.js"></script>
    <script src="~/assets/js/vendor/datatables/extensions/dataTables.bootstrap.js"></script>

    <script src="~/assets/js/vendor/jquery-ui/jquery-ui.min.js"></script>

        <!--/ vendor javascripts -->
    
        <!-- ============================================
        ============== Custom JavaScripts ===============
        ============================================= -->
         <script src="~/assets/js/main.js"></script>

        <!--/ custom javascripts -->

        @RenderSection("Scripts", required: false)

    </body>
</html>
