@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

   <div class="page page-core page-404">

                <div class="text-center"><h3 class="text-light text-white">Guide</h3></div>

                <div class="container w-420 p-15 bg-white mt-40 text-center">

                    <h2 class="text-light text-greensea">Error <strong>404</strong></h2>

                    <h4 class="mb-0 mt-40">что то пошло не так</h4>

                    <p class="text-muted">запрашиваемая Вами страница не найдена</p>

                    <form class="mt-40 ng-pristine ng-valid">
                        <div class="input-group w-md m-auto">
                            <input type="text" class="form-control" placeholder="search...">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-default"><i class="fa fa-search"></i></button>
                            </span>
                            </div>
                        <!-- /input-group -->
                    </form>

                    <div class="bg-slategray lt wrap-reset mt-40 text-center">
                       
                        <button class="btn btn-greensea btn-sm b-0" asp-controller="Account" asp-action="Details" asp-route-id="" asp-area=""><i class="fa fa-home"></i>Вернитесь на главную</button>
                        
                    </div>

                </div>

            </div>
