@model Post

@{
    ViewBag.Title = "Просмотр источника";
    Layout = "_LayoutEmployee";
}

@if (Model.VirtualPath.Contains(".docx") || Model.VirtualPath.Contains("doc") || Model.VirtualPath.Contains("xlsx"))
{
    <div>
        <a class="btn btn-info" href="@Model.VirtualPath">Скачать</a>
        <a class="btn btn-info" asp-action="Details" asp-controller="Material" asp-route-id="@Model.Id">Вернуться назад</a>
    </div>
    <iframe width="100%" height="1000" src="https://docs.google.com/gview?url=@ViewBag.PostPath&embedded=true"></iframe>
}
else
{
    <div>
        <a class="btn btn-info" asp-action="Details" asp-controller="Material" asp-route-id="@Model.Id">Вернуться назад</a>
    </div>
    <iframe width="100%" height="1000" allowfullscreen src="~/@Model.VirtualPath"></iframe> 
}
