@model List<Author>

@if (ViewBag.Check == "Create")
{
    @foreach (var author in Model)
    {
        <option selected value="@author.Id">@author.Name</option>
    }
}
else
{
    @foreach (var author in Model)
    {
        <option value="@author.Id">@author.Name</option>
    }
}




