@model MaterialTemplateViewModel


<div style="display: flex">
    <select class="form-control" name="templateId" id="selectTemplate">
        @foreach (var template in Model.Templates)
        {
            <option value="@template.Id">@template.Name</option>
        }
    </select>
    <a class="btn btn-primary" id="templateIdBtn" onclick="sendTemplate()">Вставить шаблон</a>
    <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" data-toggle="modal" data-target="#modalTemplate">
            <i class="fas fa-plus"></i>
        </button>
    </div>
</div>

<div class="modal fade" data-backdrop="true" id="modalTemplate" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="text-align: center">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Шаблоны</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="input-group mb-3" style="justify-content: center">
                    <div class="input-group-append">
                        <a class="btn btn-default" data-toggle="modal" data-target="#myModal2" aria-hidden="true">Создать шаблон</a>
                    </div>
                </div>
                @foreach (var cat in Model.Templates)
                {
                    <p> @cat.Name <button data-dismiss="modal" type="button" value="@cat.Id" class="btn buttonDeleteTemplate"><i class="fas fa-trash-alt"></i></button></p>
                }
            </div>
        </div>
    </div>
</div>
        