@using Microsoft.AspNetCore.Identity
@model User
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_LayoutEmployee";
}

<div class="page">
    <h3>Добро пожаловать @Model.Name @Model.Surname</h3>
    
    <a asp-action="ChangePassword" asp-route-id="@Model.Id" class="btn btn-outline-danger">Изменить пароль</a>
    
</div>




