@using Microsoft.AspNetCore.Identity
@model User
@inject UserManager<User> UserManager
@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_LayoutEmployee";
}

<div class="page text-center">
    <h3 style="color: slategray">Добро пожаловать @Model.Name @Model.Surname!</h3>
    <h5 style="color: #16a085">Ваша позиция: @Model.Position.Name</h5>
    
    <div class="profile_page_image_wrap">
        <img class="profile_page_image" src="Image/UserProfilePage/paper-3213924_1920.jpg" alt="Здесь должно быть фото, но что-то пошло не так">
    </div>

</div>




