@model List<User>
@{
    ViewBag.Title = "Профиль пользователя";
    Layout = "_Layout";
}

<h1>Список пользователей</h1>
@foreach (var user in @Model)
{
    if (user.Active == true)
    {
        <ul>
            <li>@user.UserName</li>
            <li><a class="btn btn-danger" asp-action="Delete" asp-controller="Account" asp-route-id="@user.Id">удалить</a></li>
            <li><a class="btn btn-danger" asp-action="Edit" asp-controller="Account" asp-route-id="@user.Id">Редактировать</a></li>
        </ul>
    }
}
<a class="btn btn-danger" asp-action="Register" asp-controller="Account">Добавить пользователя</a>
