@model List<Issue>

@if (Model.Count > 0)
{
    <ul class="list-group" style="cursor: pointer;">
        @foreach (var issue in Model)
        {
            <li class="list-group-item">
                <input class="mb-0" type="hidden" name="id[]" value="@issue.Id">
                <p class="mb-0">@issue.Name</p>
            </li>
        }
    </ul>
}

