@model Glossary

@{
    ViewBag.Title = "Добавить термин с описанием";
    Layout = "_Layout";
}


    <div class="card p-5" style="margin:auto;" >
        <div class="card-header text-center">
            @ViewBag.Title
        </div>
        <div class="card-body">
            <form asp-action="Create" asp-controller="Glossarys" method="post" enctype="multipart/form-data" asp-antiforgery="true">
                <div class="row">

                    @{ Html.RenderPartial("PartialViews/Glossary", Model); }
                    <input type="hidden" value="@Model.Id" asp-for="Id">
                
                </div>
                <button type="submit" class="btn btn-info float-right" style=" width: 31%;">Добавить</button>
            </form>
        </div>
    </div>


@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
            CKEDITOR.replace('Description');
    </script>
     
}