@model RegisterViewModel

<div style="display: flex">
    <select type="text" class="form-control" asp-for="PositionsId">
        <option value="" disabled selected>Выберите должность</option>
        @foreach (var position in Model.Positions)
        {
            <option value="@position.Id">@position.Name</option>
        }
    </select>
    <span asp-validation-for="PositionsId"></span>
   </div>
@section Scripts
{
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}