@model List<QuestionAnswer>

@{
    ViewBag.Title = "Список с ответами";
    Layout = "_Layout";
}

<div class="container">
    <h2 class="col-6">@ViewBag.Title</h2>
    
    @if (Model.Count == 0)
    {
        <p>Список пуст</p>
    }
    else
    {
        <div class="row border">
            <div class="col">
                Вопросы
            </div>
        </div>
        @foreach (var glossery in Model)
        {
            <div class="row border">
                <div class="col">
                    <a asp-action="Preview" asp-controller="QuestionAnswers" asp-route-id="@glossery.Id">@glossery.Question</a>
                </div>
            </div>
        }
    }

</div>
